.header{
    float: left;
    width: calc(100% - 260px);
    height: 80px;
    margin-left: 130px;
}
footer{
    float: right;
    width: calc(100% - 320px);
}
.home_sidebar_left {
    background: #24262b;
    padding: 15px;
    border-radius: 16px;
    min-width: 260px;
    width: 0px;
    margin: 30px 20px 73px 70px;
    overflow: auto;
    float: left;
    height: -moz-fit-content;
    height: fit-content;
}
.homePage{
    width: 100%;
}
.homePage .welcomePageBody {
    margin: 40px 90px 70px 9px;
    float: left;
    width: calc(100% - 492px)!important;
}