/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
        background: #16181d;
        color: #d9dee9;
        margin: 0;
        overflow-x: hidden;
    }

    .nav__logo {
        display: flex;
        align-self: center;
    }
    .nav__logo img {
        width: auto;
        height: 35px;
        -o-object-fit: contain;
        object-fit: contain;
        font-family: "object-fit: contain;";
    }
    
    body a {
        font-family: Inter,sans-serif;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.75rem;
        letter-spacing: 0;
        color: #d9dee9;
        text-decoration: none;
    }

    .nav__container {
        height: 70px;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
    }
.nav__menu {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: color .25s,background-color .25s;
    height: 100%;
    z-index: 1;
}
ol, ul {
    overflow-wrap: break-word;
}
.nav__menu .menu-item {
    margin-right: 30px;
    position: relative;
}
body li {
    font-family: Inter,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0;
    color: #d9dee9;
}
.nav__menu .menu-item .link, .nav__menu .menu-item {
    position: relative;
    font-family: Inter,sans-serif;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.75rem;
    letter-spacing: .01rem;
    color: #d9dee9;
    text-decoration: none;
    z-index: 0;
}

.nav__menu--right {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav__icons-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav__search {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__search--trigger {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24262b;
    transition: all .25s ease;
    border-radius: 50px;
}
.nav__search--trigger svg {
    pointer-events: none;
    width: 16px;
}
.nav__loggedin, .nav__login-buttons {
    display: flex;
    text-align: left;
    margin-left: 16px;
    justify-content: flex-end;
}
.nav__search-form, .nav__search-form form {
    width: 100%;
    display: flex;
    align-items: center;
    transition: all .5s cubic-bezier(.86,0,.07,1);
}

.nav__search-form {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 4;
    transform: translateY(-100%);
    opacity: 0;
}
.nav__login-buttons .button--login {
    text-transform: none;
    max-width: none!important;
}
.nav__search-form form {
    max-width: 720px;
    height: 42px;
    margin: 0 auto;
    position: relative;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.nav__search-form, .nav__search-form form {
    width: 100%;
    display: flex;
    align-items: center;
    transition: all .5s cubic-bezier(.86,0,.07,1);
}
.nav__cart-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    background-color: #24262b;
    transition: all .25s ease;
    border-radius: 50px;
}
.button--secondary {
    border: 1px solid #d9dee9;
    background: transparent;
    color: #d9dee9;
    font-size: .8125rem;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    height: 42px;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    transition: all .25s ease;
    padding: 0 21px;
    letter-spacing: .03125rem;
}
.nav__login-buttons .button--signup {
    margin-left: 16px;
    text-transform: none;
    max-width: none!important;
}

.button--primary--gold {
    background: linear-gradient(to bottom left,#a67d32,#e0c373,#dc991c);
    color: #373b46;
    font-size: .8125rem;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    height: 42px;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    transition: all .25s ease;
    padding: 0 21px;
    letter-spacing: .03125rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
